asgiref==3.5.0
astroid==2.4.0
certifi==2021.10.8
charset-normalizer==2.0.8
colorama==0.4.3
distlib==0.3.4
Django==4.0.1
django-rest-auth==0.9.5
django-rest-framework==0.1.0
djangorestframework==3.12.4
filelock==3.4.2
idna==3.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
nnfs==0.5.0
platformdirs==2.4.1
pylint==2.5.0
pytz==2021.1
requests==2.26.0
six==1.14.0
sqlparse==0.4.1
tdt4160==1.1.3
toml==0.10.0
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.13.1
wrapt==1.12.1
django-cors-headers==3.11.0