/*LogInPage*/

.loginPage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid black;
}

/*RegisterPage*/

.registerPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  margin: 0px 20% 20px 20%;
}

.registerField {
  border: 1px solid black;
  width: 60%;
  margin-top: 2%;
  padding: 20px;
  font-size: 30px;
}

.registerInput {
  margin: 2px 2px;
  padding: 4px;
  width: 50%;
  height: 40px;
  margin-left: 30px;
  font-size: 30px;
}

.registerButton {
  width: 60%;
  background: gray;
  margin: 30px;
  text-align: center;
  font-size: 40px;
}

/*logInForm*/
.field {
  margin-top: 20px;
  padding: 20px;
}

.textField {
  margin: 2px 2px;
  padding: 4px;
}

.button {
  width: 80%;
  margin: 20px;
  padding: 20px;
}

.testHeader {
  color: aqua;
}

.testList {
  list-style-type: none;
}

.testBox {
  background-color: blueviolet;
}

.memberListItem:hover {
  background-color: lightcoral;
}

.button:hover{
  background-color: #476C2E;
}

.submitButton{
  background-color: #537E36;
}
.submitButton:hover{
  background-color: #555555;
}
.groupCard{
  background-color:#e1f4f8
}
.groupCard:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #c7f2fd;
}
